<h1>Merchant Page</h1>
<h2><%= @merchant.name %></h2>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %></p>
<p><%= @merchant.state %></p>
<p><%= @merchant.zip %></p>
<div class="button button-primary">

<%= button_to 'Edit', edit_merchant_path(@merchant), method: :get%>
<%= button_to 'Delete', merchant_path(@merchant), method: :delete %>

</div>
