<h1>Update Item</h1>
<%= form_tag "/items/#{@item.id}", method: :patch do %>
 <%= label_tag :name %>
 <%= text_field_tag :name, @item.name %>
 <%= label_tag :description %>
 <%= text_field_tag :description, @item.description %>
 <%= label_tag :price %>
 <%= text_field_tag :price, @item.price %>
 <%= label_tag :inventory %>
 <%= text_field_tag :inventory, @item.inventory %>
 <%= label_tag :image %>
 <%= file_field_tag :image %><br>
 <%= label_tag :status %>
 <%= text_field_tag :status, @item.status %><br>
 <%= submit_tag 'Update Item' %>
<% end  %>
