<% if @merchant.nil? %>
  <h1>All Items</h1>
  <% @items.each do |item| %>
  <ul>
    <li><h3><%= link_to item.name, item_path(item.id) %></h3>
    </li>
    <ul>
    <li><%= "Name: #{item.name}" %></li>
    <li><%= "Description: #{item.description}" %></li>
    <li><%= "Price: #{item.price}" %></li>
    <li><%= "Inventory: #{item.inventory}" %></li>
    <li><%= "Status: #{item.status}" %></li>
    <li><%= image_tag (item.image) %></li>

  </ul>
    </ul>
    <p><%= button_to "Seller: #{Merchant.find(item.merchant_id).name}", "/merchants/#{item.merchant_id}", method: :get %></p>
  <% end %>

<% else %>
  <h1>Items for <%= link_to @merchant.name, merchant_items_path %></h1>
  <% @items.each do |item| %>
    <ul>
      <li><h3><%= link_to item.name, item_path(item.id) %></h3>
      </li>
      <li><%= "Description: #{item.description}" %></li>
    <li><%= "Price: #{item.price}" %></li>
    <li><%= "Inventory: #{item.inventory}" %></li>
    <li><%= "Status: #{item.status}" %></li>
    <li><%= image_tag (item.image) %></li>
  </ul>
  <% end %>
  <p><%= button_to "New Item for #{@merchant.name}", "/merchants/#{@merchant.id}/items/new", method: :get %></p>
<% end %>
