<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<p><%= @item.price %></p>
<p><%= @item.inventory %></p>

<%= button_to 'Edit', "/items/#{@item.id}/edit", method: :get%>

<%= button_to 'Delete', "/items/#{@item.id}", method: :delete%>
