<!DOCTYPE html>
<html>
  <head>
    <title>MiniShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= button_to "Mercahnts", '/merchants', method: :get %>
      <%= button_to "Items", '/items', method: :get %>
    </header>
    <%= yield %>
  </body>
</html>
